.profile-page {
  width: 100vw;
  min-height: 100vh;

  .top-box {
    width: 100%;
    background: #fff;
    height: 174px;
    position: relative;
    padding: 15px 0;

    .inner {
      z-index: 1;
      width: 95vw;
      height: 144px;
      margin: 0 2.5vw;
      background-image: linear-gradient(140deg, #55A5F6 0%, #1C86F3 93%);
      border-radius: 6px;
      padding: 17px 13px;
      position: relative;

      .info-block {
        width: 100%;
        display: flex;
        flex-flow: row;

        .avatar {
          flex: 0 0 50px;
          height: 50px;
          background: #fff;
          padding: 1px;
          border-radius: 100%;
          position: relative;

          img {
            width: 48px;
            height: 48px;
            border-radius: 100%;
          }

          .edit {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 16px;
            height: 16px;
            background: url("../image/common/icon_edit_profile.png");
            background-size: contain;
          }
        }

        .info {
          flex: 1;
          padding-left: 10px;
          color: #fff;

          .name {
            width: 100%;
            height: 30px;
            line-height: 30px;
            font-size: 18px;
            text-align: left;
            overflow: hidden;
          }

          .nameplate {
            width: 100%;

            .vip {
              min-width: 40px;
              height: 16px;
              line-height: 14px;
              float: left;
              background-image: linear-gradient(142deg, #FED68F 0%, #F9A711 88%);
              border: 1px solid #FFFDFD;
              border-radius: 8px;
              padding: 0 5px;
              margin-right: 10px;

              i {
                float: left;
                display: block;
                margin: 2px 5px 0 0;
                width: 10px;
                height: 10px;
                background: url("../image/common/icon_star.png");
                background-size: contain;
              }

              p {
                float: left;
                font-size: 11px;
              }
            }
          }
        }
      }

      .stat-block {
        width: 100%;
        margin-top: 20px;

        li {
          float: left;
          width: 33.3%;
          color: #fff;
          position: relative;

          p {
            font-size: 20px;
            text-align: center;
          }

          span {
            width: 100%;
            display: block;
            font-size: 12px;
            text-align: center;
          }

          &:after {
            content: '';
            position: absolute;
            left: 100%;
            top: 4px;
            height: 40px;
            border-left: 1px solid #fff;
            transform: scale(.5);
          }

          &:last-child {
            &:after {
              display: none;
            }
          }

        }
      }

      .bg {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 95vw;
        height: 16.8vw;
        background: url("../image/common/bg_top_box.png");
        background-size: contain;
      }

    }

    &:after {
      content: '';
      z-index: 0;
      position: absolute;
      width: 88vw;
      height: 77px;
      left: 6vw;
      bottom: 10px;
      opacity: 0.28;
      background-image: linear-gradient(90deg, #2F9BE9 0%, #5A56E7 100%);
      border-radius: 6px;
    }
  }

  .quick-link {
    width: 100%;
    background: #fff;
    padding: 10px 0;

    li {
      float: left;
      width: 33.3%;
      height: 70px;

      .icon {
        position: relative;
        left: 50%;
        margin-left: -11.5px;
        width: 23px;
        height: 23px;
        margin-top: 5px;

        .badge {
          position: absolute;
          right: -10px;
          top: -5px;
          min-width: 16px;
          height: 14px;
          line-height: 14px;
          border-radius: 6px;
          background: #ff0000;
          color: #fff;
          font-size: 11px;
          text-align: center;
          padding: 0 4px;
        }
      }

      .order {
        background: url("../image/common/icon_quick-link_order.png") no-repeat center;
        background-size: contain;
      }

      .course {
        background: url("../image/common/icon_quick-link_course.png") no-repeat center;
        background-size: contain;
      }

      .message {
        background: url("../image/common/icon_quick-link_message.png") no-repeat center;
        background-size: contain;
      }

      .give {
        background: url("../image/common/icon_quick-link_give.png") no-repeat center;
        background-size: contain;
      }

      .place {
        background: url("../image/common/icon_quick-link_place.png") no-repeat center;
        background-size: contain;
      }

      .footprint {
        background: url("../image/common/icon_quick-link_footprint.png") no-repeat center;
        background-size: contain;
      }


      p {
        width: 100%;
        margin-top: 3px;
        font-size: 11px;
        text-align: center;
      }

    }

  }

  .portal {
    width: 100%;
    background: #fff;
    margin-top: 10px;
    overflow: hidden;
    margin-bottom: 10px;

    li {
      width: 100%;
      height: 48px;
      display: flex;
      flex-flow: row;
      position: relative;

      .icon {
        flex: 0 0 40px;
        height: 48px;
      }

      .vip {
        background: url("../image/common/icon_portal_vip.png") center no-repeat;
        background-size: 50%;
      }

      .earnings {
        background: url("../image/common/icon_portal_earnings.png") center no-repeat;
        background-size: 50%;
      }

      .activity {
        background: url("../image/common/icon_portal_activity.png") center no-repeat;
        background-size: 50%;
      }

      .answers {
        background: url("../image/common/icon_portal_answers.png") center no-repeat;
        background-size: 50%;
      }

      .collect {
        background: url("../image/common/icon_portal_collect.png") center no-repeat;
        background-size: 50%;
      }

      .download {
        background: url("../image/common/icon_portal_download.png") center no-repeat;
        background-size: 50%;
      }

      .set {
        background: url("../image/common/icon_portal_set.png") center no-repeat;
        background-size: 50%;
      }

      p {
        flex: 1;
        line-height: 48px;

        label {
          width: 100px;
          float: right;
          text-align: right;
          color: #999;
        }
      }

      .arrow {
        flex: 0 0 18px;
        background: url("../image/common/icon_arrow.png") center no-repeat;
        background-size: 33%;
      }

      &:after {
        position: absolute;
        content: '';
        width: 200%;
        border-bottom: 1px solid #eee;
        transform: scale(.5);
        top: 48px;
        left: -50%;
        margin-left: 40px;
      }

      &:last-child {

        &:after {
          display: none;
        }
      }
    }
  }

  .menu-bottom {
    position: fixed;
    width: 100%;
    height: 48px;
    bottom: 0;
    left: 0;
    background: #fff;
    display: flex;
    flex-flow: row;

    li {
      flex: 1;

      .icon {
        position: relative;
        left: 50%;
        margin-left: -11.5px;
        width: 23px;
        height: 23px;
        margin-top: 5px;

        .badge {
          position: absolute;
          right: -10px;
          top: -5px;
          min-width: 16px;
          height: 14px;
          line-height: 14px;
          border-radius: 6px;
          background: #ff0000;
          color: #fff;
          font-size: 11px;
          text-align: center;
          padding: 0 4px;
        }
      }

      .home {
        background: url("../image/common/icon_btm_home.png");
        background-size: contain;
      }

      .course {
        background: url("../image/common/icon_btm_course.png");
        background-size: contain;
      }

      .msg {
        background: url("../image/common/icon_btm_msg.png");
        background-size: contain;
      }

      p {
        width: 100%;
        margin-top: 3px;
        font-size: 11px;
        text-align: center;
      }

    }

    .active {

      p {
        color: #2F9BE9;
      }

      .profile {
        background: url("../image/common/icon_btm_profile_active.png");
        background-size: contain;
      }
    }
  }
}