<html>

<head>
    <meta charset="utf-8">
    <title>第一节</title>
</head>

<style>

    table {
        width: 500px;
        border-collapse: collapse;
    }

    table tr {
        height: 30px;
    }

    table th, td {
        border: 1px solid #333;
    }

    table th {
        background: #eee;
    }

    table td {
        text-align: center;

    }

    hr {
        border: none;
        border-top: 1px solid #ff0000;
    }

</style>

<body>
<div style="display: block">
    <a href="http://www.baidu.com" title='我要打开百度' target="_blank">打开百度</a>
    <hr/>
    <div style="color: #ff0000;font-size: 20px;font-weight: 700">文字div1</div>
    <div style="color: #ff0000;font-size: 20px;">文字div2</div>
    <span style="color: #ff0000;font-size: 20px;">span1</span>
    <span style="color: #ff0000;font-size: 20px;">span2</span>
    <span style="color: #ff0000;font-size: 20px;">span3</span>
    <div style="width: 200px;
    height: 100px; background: #000000;opacity: .4">

    </div>

</div>
<table>
    <tr>
        <th>姓名</th>
        <th>语文</th>
        <th>数学</th>
    </tr>
    <tr>
        <td>张三</td>
        <td>99</td>
        <td>100</td>
    </tr>
    <tr>
        <td>李四</td>
        <td>98</td>
        <td>99</td>
    </tr>
    <tr>
        <td>人数</td>
        <td colspan="2">2</td>
    </tr>
</table>

</body>

</html>