<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"/>
    <title>迈道教育</title>
    <link rel="stylesheet" type="text/css" href="assets/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/profile.css"/>
</head>
<body>


<div class="main-page">


    <div class="top-box">

        <div class="profile-info">
            <div class="avatar">
                <img src="assets/image/tmp/avatar_user.jpg"/>
                <div class="edit"></div>
            </div>
            <div class="info">
                <div class="nick">张三</div>
                <div class="nameplates">
                    <div class="item">
                        <div class="icon"></div>
                        超级VIP
                    </div>
                    <div class="item">
                        <div class="icon"></div>
                        蓝钻
                    </div>
                </div>
            </div>

        </div>

        <ul class="stat">

            <li class="item">
                <div class="num">40,589.00</div>
                <div class="descr">账户余额(元)</div>
            </li>
            <li class="item">
                <div class="num">189.00</div>
                <div class="descr">总收益(元)</div>
            </li>
            <li class="item">
                <div class="num">124</div>
                <div class="descr">我的客户(人)</div>
            </li>
        </ul>

        <div class="bg"></div>
    </div>


    <ul class="portal">
        <li>
            <div class="icon"></div>
            <div class="info">我的会员</div>
            <div class="arrow"></div>
        </li>
        <li>
            <div class="icon"></div>
            <div class="info">我的会员2</div>
            <div class="arrow"></div>
        </li>
        <li>
            <div class="icon"></div>
            <div class="info">我的会员3</div>
            <div class="arrow"></div>
        </li>
    </ul>

    <ul class="portal">
        <li>
            <div class="icon"></div>
            <div class="info">我的会员</div>
            <div class="arrow"></div>
        </li>
    </ul>

    <ul class="menu-btm">

        <li>
            <div class="icon"></div>
            <p>首页</p>
        </li>
        <li>
            <div class="icon"></div>
            <p>课程</p>
        </li>
        <li>
            <div class="icon"></div>
            <p>消息</p>
        </li>
        <li>
            <div class="icon"></div>
            <p>我的</p>
        </li>
    </ul>
</div>

</body>
</html>
