body {
  background: #ffca06;

  h1 {
    text-align: center;
  }

  .message {
    position: relative;

    img {
      width: 250px;
    }

    .message {
      display: flex;
      position: absolute;
      top: 0;
      left: 25%;
    }
  }

  .lake {

    img {
      width: 100px;
      float: right;
    }
  }

  .img {
    text-align: center;
  }
}